{% include "tasks/base.html" %}

<div class="container-fluid">
  <div class="row" id="index-splash">
    <div class="col-md-5 py-5 offset-md-1 col-sm-10 offset-sm-1">
      <h1 class="font-weight-bold text-light">Welcome to Tasks!</h1>
      <p class="font-weight-light text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et justo sollicitudin, dignissim nulla vitae, mollis ipsum. Etiam scelerisque ligula ac nulla tempus, nec malesuada justo vestibulum. Etiam risus turpis, aliquet in mauris vitae, tincidunt congue lorem. </p>
    </div>
    <div class="col-md-4 py-4 col-sm-10 offset-sm-1">
    {% if successfulSignup %}
      <div class="p-3 mt-4" id="signup-form">
        <h3 class="p-0 text-center">Signup Successful</h3>
        <div class="text-center">
          <a href="/account/login" class="btn btn-custom text-center">Login</a>
        </div>
      </div>
    {% else %}
      <form class="my-4 p-3" id="signup-form" method="POST">{% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{ field }}
        </div>
      {% endfor %}
        <div class="col text-center">
          <button type="submit" class="btn btn-custom px-5 text-align-center">Sign Up</button>
        </div>
      </form>
    {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 pt-5 col-sm-10 offset-sm-1">
      <h1>Stay Organized</h1>
      <p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et justo sollicitudin, dignissim nulla vitae, mollis ipsum. Etiam scelerisque ligula ac nulla tempus, nec malesuada justo vestibulum. Etiam risus turpis, aliquet in mauris vitae, tincidunt congue lorem. </p>

    </div>
    <div class="col-md-5 pt-5 offset-md-1 col-sm-10 offset-sm-1">
      <div class="p-3 text-light" id="demo-list">
        <label class="container">Read and Review Syllabus
         <input type="checkbox">
         <span class="checkmark"></span>
        </label>

        <label class="container">Read Chapter 1
         <input type="checkbox">
         <span class="checkmark"></span>
        </label>

        <label class="container">Study for Chapter 1 Quiz
         <input type="checkbox">
         <span class="checkmark"></span>
        </label>

        <label class="container mb-0">Complete First Homework Assignment
         <input type="checkbox">
         <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-sm-1 pt-5">
      <h1>Open Source</h1>
      <p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et justo sollicitudin, dignissim nulla vitae, mollis ipsum. Etiam scelerisque ligula ac nulla tempus, nec malesuada justo vestibulum. Etiam risus turpis, aliquet in mauris vitae, tincidunt congue lorem. </p>
      <a href="#" class="btn btn-custom pt-2">Github Repository <i class="fab fa-github"></i></a>
    </div>
  </div>
</div>

{% include "tasks/footer.html" %}
