{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light py-2">
  <a class="navbar-brand" href="/"><img src="{% static 'tasks/images/check-square.svg'%}" width="30" height="30" class="d-inline-block align-top mr-2" alt="">Tasks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn btn-custom" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/terms/' %} text-dark {% endif %} " href="/terms">Terms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/courses/' %} text-dark {% endif %}" href="/courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/professors/' %} text-dark {% endif %}" href="/professors">Professors</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/profile/' %} text-dark {% endif %}" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/logout">Logout</a>
      </li>
    </ul>
  {% else %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="btn btn-outline-custom mr-2 mb-1" href="/account/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-custom" href="/signup">Sign Up</a>
      </li>
    </ul>
  {% endif %}

  </div>
</nav>
