body {
  font-family: 'Open Sans', sans-serif;
}

.fa-check-square {
  /* font-size: 2em; */
}

.btn-custom {
  color: white;
  background-color: #600047;
  border-color: #600047;
}

.btn-outline-custom {
  border-color: #600047;
}

.border-custom {
  border-color: #600047 !important;
  border-radius: 5px;
}

/* Index Page */
#index-splash {
  background-color: #600047;
}

#signup-form {
  background-color: white;
  border-radius: 5px;
}

#demo-list {
  background-color: #600047;
  border-radius: 5px;
}

.container input:checked ~ .checkmark {
 background-color: #8f006a;
}
